/* src/Navigation.css */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #500549;
  color: white;
  position: fixed;
  justify-content: right;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 1000;
}

.nav:hover {
  transform: scale(0.989);
  transition: transform 0.5s ease-in-out;
}

.menu-toggle {
  display: flex;
  cursor: pointer;  
}

.menu-toggle.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 568px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    transition: transform 0.5s ease-in-out; 
  }

  .nav.open ul {
    display: flex;
  }

  li {
    margin: 0 15px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  li.show {
    opacity: 1;
    transform: translateY(0);
  }

  li:nth-child(1) {
    transition-delay: 0.1s;
  }

  li:nth-child(2) {
    transition-delay: 0.2s;
  }

  li:nth-child(3) {
    transition-delay: 0.3s;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 15px;
  opacity: 1;
  transform: translateY(2px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

li.show {
  opacity: 1;
  transform: translateY(0);
}

ul li:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  color: #61dafb;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
